/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/coverage
/dist
/storage/app/*.sqlite
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.vite
.DS_Store
.env
.env.local
.env.*.local
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-error.log*
pnpm-debug.log*
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.vscode-test
*.local
/.zed
